name: Test

on:
  pull_request:
    branches:
      - master

jobs:
  unit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: npm
      - run: npm ci
      - run: npm run coverage

  functional:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: npm
      - run: npm ci
      - uses: shogo82148/actions-setup-mysql@v1
        with:
          mysql-version: 'mariadb-10.6'
      - run: npm run bdd-setup
      - run: npm start &
      - run: npm run bdd
